# Python bytecode
__pycache__/
*.py[cod]

# Distribution / packaging
.Python
build/
dist/
*.egg-info/
.eggs/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environments
env/
venv/
ENV/
*.venv

# VSCode and other IDEs
.vscode/
.idea/

# Mac OS
.DS_Store
